<div class="list-group mx-2 mt-2">
  <a class="list-group-item list-group-item-action" routerLink="/glcube">
    <svg-icon path="bi/app-indicator"></svg-icon>
    GLCube
  </a>
  <a class="list-group-item list-group-item-action" routerLink="/shader01">
    <svg-icon path="bi/app-indicator"></svg-icon>
    Shader Sphere
  </a>
  <a class="list-group-item list-group-item-action" routerLink="/shader02">
    <svg-icon path="bi/app-indicator"></svg-icon>
    Shader Plane
  </a>
  <a class="list-group-item list-group-item-action" routerLink="/spotlight">
    <svg-icon path="bi/app-indicator"></svg-icon>
    SpotLight
  </a>
  <a class="list-group-item list-group-item-action" routerLink="/point-area-light">
    <svg-icon path="bi/app-indicator"></svg-icon>
    Point & Area Light
  </a>
  <a class="list-group-item list-group-item-action" routerLink="/points">
    <svg-icon path="bi/app-indicator"></svg-icon>
    Points
  </a>
  <a class="list-group-item list-group-item-action" routerLink="/solar">
    <svg-icon path="bi/app-indicator"></svg-icon>
    Solar System
  </a>
</div>
